<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
	<bean id="versioning" class="org.geoserver.nsg.versioning.TimeVersioningCallback">
		<constructor-arg ref="catalog" />
	</bean>
	<bean id="versioningLayerConfig" class="org.geoserver.web.publish.LayerConfigurationPanelInfo">
		<property name="id" value="wfsVersioningConfig" />
		<property name="titleKey" value="data.resource.config.wfs" />
		<property name="componentClass"
			value="org.geoserver.nsg.versioning.web.WfsVersioningConfig" />
		<property name="supportedTypes">
			<list>
				<value>org.geoserver.catalog.FeatureTypeInfo</value>
			</list>
		</property>
	</bean>
	<bean id="indexResultTypeDisapatcherCallback"
		class="org.geoserver.nsg.pagination.random.IndexResultTypeDisapatcherCallback">
		<description>
			When a request using the index result type comes in a
			dispatcher callback
			this switch the "index" value by the "hits" value
		</description>
		<constructor-arg ref="geoServer" />
	</bean>
	<bean id="indexInitializer" class="org.geoserver.nsg.pagination.random.IndexInitializer">
	</bean>
	<!-- Configure the scheduler -->
	<task:scheduler id="scheduler"/>
	<task:scheduled-tasks scheduler="scheduler">
	    <task:scheduled ref="indexInitializer" method="clean" fixed-delay="1000" initial-delay="10000" />
	</task:scheduled-tasks>
</beans>
